.basket {
    display: flex;
    flex-direction: column;
    width: 1160px;
    margin: 70px auto 40px auto;
}
.basket__truckBuy {
    width: 100%;
    display: flex;
    flex-direction: column;

    margin: 0 auto 25px auto;
}

.basket__header-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.basket__header-text {
    font-size: 23px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 6%;
    color: #215d17;
    white-space: nowrap;
    justify-content: center;
}

.basket__header-text_gray {
    color: #000000;
    opacity: 0.5;
}

.basket__indication-container {
    width: 94.7%;
    margin: 0px auto 0px auto;
}
.basker__indication-image {
    width: 100%;
    margin: 0px auto 0px auto;
}

.basket__indication-container {
    width: 95%;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.basket__one-container {
    display: flex;
}
.basket__line {
    position: absolute;
    border: #215d17 1px solid;
    width: 99%;
    top: 18px;
}
.basket__one {
    height: 35px;
    padding-top: 3px;
    width: 38px;
    background-color: #55b74c;
    border-radius: 50%;
    text-align: center;
    color: #ffffff;
    z-index: 1;
    font-size: 23px;
    line-height: 31px;
    font-weight: 500;
}
.basket__two {
    background-color: #ffffff;
    border: #215d17 2px solid;
    color: #000000;
    box-sizing: border-box;
    padding-top: 1px;
    height: 37px;
}

.basket__form {
    margin: 46px auto 0 auto;
    display: flex;
    flex-direction: column;
}
.basket__products-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0px auto 0px auto;
    padding: 0px 0px 48px 0px;
    border-bottom: 1px solid #000000;
}

.basket__result-price-container {
    width: 1160px;
    display: flex;
    margin: 25px auto 36px auto;
    justify-content: space-between;
}

.basket__diskounts {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.basket__diskounts-header {
    display: flex;
    gap: 34px;
    margin: 0px auto 0px 0px;
}

.basket__discounts-title {
    font-size: 16px;
    line-height: 22px;
    text-decoration: underline;
    text-align: center;
    white-space: nowrap;
    &:hover {
        cursor: pointer;
    }
}

.basket__discounts-title_active {
    text-decoration: none;
    color: #55b74c;
}

.basket__diskounts-block {
    display: flex;
    margin: 20px auto 0px 0px;
    gap: 20px;
}

.basket__diskounts-text-discount-container {
    display: flex;
    flex-direction: column;
    margin: auto 0px auto 0px;
}

.basket__diskounts-text-discount {
    min-width: 340px;
    font-size: 20px;
    line-height: 27px;
    text-align: start;
    max-width: 370px;
    margin: 0;
    color: #898989;
    white-space: nowrap;
    &-span {
        font-weight: 700;
        color: #000000;

        margin: auto 0px auto 0px;
    }
}
.basket__diskounts-text-discount-percent-container {
    display: flex;
}

.basket__diskounts-text-discount-percent {
    font-size: 81px;
    line-height: 110px;
    font-weight: 700;
    margin: auto 0px auto 0px;
    color: #55b74c;
    &-span {
        font-size: 47px;
        line-height: 64px;
        font-weight: 500;
    }
}

.basket__result {
    display: flex;
    flex-direction: column;
    width: 635px;
}

.basket__result-position {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    border-bottom: #898989 1px solid;
    margin: 15px 0px 0px 0px;
    &:last-child {
        border-bottom: none;
        padding-bottom: 0;
    }
}

.basket__result-position-text {
    color: #898989;
    padding: 0;
    margin: auto 0 auto 0;
    &-span {
        color: #000000;
        text-decoration: underline;
        cursor: pointer;
    }
}

.basket__result-position-text-rigth {
    font-weight: 500;
    margin: 0;
    padding: 0;
}
.basket__result-position-text-rigth-result {
    font-size: 24px;
    line-height: 33px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

@media (max-width: 1330px) {
    .basket {
        margin: 70px 100px 40px 100px;
    }
}

@media (max-width: 1250px) {
    .basket {
        margin: 70px auto 40px auto;
        width: 93vw;
    }
    .basket__form .basket__result-price-container {
        width: 93vw;
    }
    .basket__result {
        width: 50vw;
        margin-left: 20px;
    }
}
@media (max-width: 850px) {
    .basket__diskounts-block {
        gap: 20px;
    }

    .basket__diskounts-text-discount {
        min-width: 320px;
        font-size: 18px;
        line-height: 25px;
    }
}

@media (max-width: 780px) {
    .basket__result-price-container {
        flex-direction: column;
    }

    .basket__diskounts {
        width: 93vw;
    }

    .basket__diskounts-block {
        margin: 0px auto 0px auto;
        gap: 50px;
    }

    .basket__diskounts-header {
        margin: 0px auto 0px auto;
    }

    .basket__result {
        width: 93vw;
        margin-left: 0px;
    }

    .basket {
        margin: 20px auto 20px auto;
    }
}

@media (max-width: 550px) {
    .basket__diskounts-text-discount {
        min-width: 240px;
    }

    .basket__diskounts-text-discount {
        font-size: 14px;
        line-height: 19px;
    }
    .basket__diskounts-text-discount-percent {
        font-size: 50px;
        line-height: 80px;
        &-span {
            font-size: 25px;
            line-height: 32px;
            font-weight: 500;
        }
    }
}

@media (max-width: 500px) {
    .basket__header-text {
        font-size: 18px;
        line-height: 25px;
    }

    .basket__diskounts-block {
        gap: 20px;
    }

    .basket__diskounts-header {
        gap: 20px;
    }
}

@media (max-width: 430px) {
    .basket__header-text {
        font-size: 14px;
        line-height: 19px;
    }

    .basket__diskounts-block {
        margin: 0 auto 0 auto;
        gap: 20px;
    }

    .basket__discounts-title {
        font-size: 13px;
        line-height: 18px;
    }

    .basket__diskounts-header {
        gap: 10px;
    }

    .basket__diskounts-block {
        gap: 10px;
    }
}

.basket__final-button {
    margin: 36px auto 0px auto;
    border: none;
    background-color: #55b74c;
    border-radius: 5px;
    color: #ffffff;
    font-size: 20px;
    line-height: 27px;
    font-weight: 700;
    text-align: center;
    width: 269px;
    height: 54px;
    transition: 0.5s;
    &:hover {
        cursor: pointer;
        opacity: 0.7;
    }
}
